# Virtual envs
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.swp
*.egg-info/
*.egg
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

db.sqlite3
*.bak
dump.json
.env

backups/
static_collected/
