{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_settings.site_name|default:"Education" }}</title>
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    

    <nav class="nav">
        <div class="nav_left">
            {% if site_settings and site_settings.logo %}
            <img src="{{ site_settings.logo.url }}" alt="Logo" class="logo_img">
            {% else %}
            <div class="divider"></div>
            {% endif %}
            <div class="nav_links">
                <a href="{% url "home" %}" class="nav_links-a home-page">Home</a>
                <a href="{% url "courses" %}" class="nav_links-a courses-page">Courses</a>
                <a href="{% url "about" %}" class="nav_links-a about-page">About</a>
            </div>
        </div>
        <div class="nav_right">
            <a href="/admin/" class="admin-link">Admin</a>
        </div>
    </nav>


    <main style="background-image: url('{% static "img/background_img.jpg" %}');">
        <div class="hero">
            <img src="{{ site_settings.logo.url }}" alt="Logo" class="logo">
            <div class="hero-text">
                <h1 class="hero-title">{{ site_settings.site_name }}</h1>
                <p class="hero-text-p" id="changing-text">{{ texts.0.text }}</p>
            </div>
        </div>
    </main>

    <section class="courses">
        <div class="course-grid">
            {% for course in courses %}
            <div class="course-card">
                <h3>{{ course.title }}</h3>
                <p>{{ course.short_description }}</p>
            </div>
            {% endfor %}
            <div class="course-card more-card">
                <a href="{% url "courses" %}">More...</a>
            </div>
        </div>
    </section>

    <section class="advantages">
        <div class="advantages-container">
            <h2>{{ home_texts.subtitle }}</h2>
            <p>{{ home_texts.text }}</p>
        </div>
    </section>

    <section class="contact-section">
        <div class="contact-info">
            <h2>Our Address</h2>
            <p>Kamolot Learning Center</p>
            <p>Soghd Region, Jabbār-Rasulov District, Digmay Settlement</p>
            <p>Phone: <a href="tel:+992901234567">+992 90 123 45 67</a></p>
            <p>Email: <a href="mailto:info@kamolot.tj">info@kamolot.tj</a></p>
        </div>

        <div class="contact-map">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d757.564!2d69.518006!3d40.213835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1696927261293"
            width="100%"
            height="350"
            style="border:0;"
            allowfullscreen=""
            loading="lazy">
            </iframe>
        </div>
    </section>

    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{{site_settings.logo.url}}" alt="Logo">
            </div>

            <div class="footer-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'courses' %}">Courses</a>
                <a href="{% url 'about' %}">About</a>
            </div>

            <div class="footer-contact">
                <p>Email: <a href="mailto:{{site_settings.email}}">{{site_settings.email}}</a></p>
                <p>Phone: <a href="tel:{{site_settings.phone}}">{{ site_settings.phone }}</a></p>
            </div>

            <div class="footer-copy">
                <p>&copy; {{ now.year }} Kamolot Learning Center. All rights reserved.</p>
            </div>
        </div>
    </footer>



    <script>
        const texts = [
        {% for t in texts %}
            "{{ t.text|escapejs }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
        ];

        let index = 0;
        const changingText = document.getElementById('changing-text');

        function changeText() {
        // Сначала исчезновение текста
        changingText.style.opacity = 0;

        setTimeout(() => {
            // Меняем текст
            index = (index + 1) % texts.length;
            changingText.textContent = texts[index];

            // Появление текста
            changingText.style.opacity = 1;
        }, 1000); // совпадает с transition: opacity
        }

        // Смена каждые 10 секунд
        setInterval(changeText, 10000);

        window.addEventListener('scroll', function() {
        const scroll = window.pageYOffset;
        
        // Чем больше скролл, тем сильнее размытие (0–5px)
        // let blurValue = Math.min(scroll / 30, 5); // при 150px => 5px
        // document.body.style.filter = `blur(${blurValue}px)`;
        // });

    </script>


</body>
</html>